#!/usr/bin/make -f

# Uncomment this to turn on verbose mode..
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ 

execute_before_dh_install:
	mkdir -p debian/tmp/usr/share/icons/hicolor/256x256/apps
	mv debian/tmp/usr/share/icons/hicolor/128x128/apps/* debian/tmp/usr/share/icons/hicolor/256x256/apps

.PHONY: override_dh_strip

override_dh_strip:
	dh_strip --dbg-package=rage-dbg
