Package: bodhi-quickstart
Version: 1.7.0-3
Section: misc
Priority: optional
Architecture: all
Depends: fonts-ubuntu
Installed-Size: 11320
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Description: Bodhi Quickstart Guide
 Bodhi Quick Start Guide Files
