[Desktop Entry]
#Encoding=UTF-8
Type=Application
Name=Terminology
Name[ko]=터미놀로지
#GenericName=Terminal
#GenericName[eo]=Terminalo
#GenericName[it]=Terminale
#GenericName[ru]=Терминал
#GenericName[ko]=터미널
Comment=Terminal emulator
Comment[da]=Terminalemulator
Comment[eo]=Terminalimitilo
Comment[es]=Emulador de terminal
Comment[fr]=Émulateur de terminal
Comment[gl]=Emulador de terminal
Comment[it]=Emulatore di terminale
Comment[pt]=Emulador de terminal
Comment[ru]=Эмулятор терминала
Comment[ko]=터미널 에뮬레이터
Keywords=shell;prompt;command;commandline;
Exec=terminology
Icon=terminology
Categories=System;TerminalEmulator;
StartupWMClass=terminology
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Name[am]=አዲስ መስኮት
Name[ar]=نافذة جديدة
Name[bg]=Нов прозорец
Name[bn]=নতুন উইন্ডো
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο Παράθυρο
Name[en_GB]=New Window
Name[es]=Nueva ventana
Name[et]=Uus aken
Name[fa]=پنجره جدید
Name[fi]=Uusi ikkuna
Name[fil]=New Window
Name[fr]=Nouvelle fenêtre
Name[gu]=નવી વિંડો
Name[hi]=नई विंडो
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[iw]=חלון חדש
Name[ja]=新規ウインドウ
Name[kn]=ಹೊಸ ವಿಂಡೊ
Name[ko]=새 창
Name[lt]=Naujas langas
Name[lv]=Jauns logs
Name[ml]=പുതിയ വിന്‍ഡോ
Name[mr]=नवीन विंडो
Name[nl]=Nieuw venster
Name[no]=Nytt vindu
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sv]=Nytt fönster
Name[sw]=Dirisha Jipya
Name[ta]=புதிய சாளரம்
Name[te]=క్రొత్త విండో
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[vi]=Cửa sổ Mới
Name[zh_CN]=新建窗口
Name[zh_TW]=開新視窗
Exec=terminology
