Source: moksha-module-cpu
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), libc6 (>= 2.4), meson, pkg-config, libtool, intltool, libefl-dev, moksha-dev
Standards-Version: 4.5.0
Homepage: https://github.com/JeffHoogland/moksha-modules-extra
Rules-Requires-Root: no

Package: moksha-module-cpu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, moksha
Description: CPU module for the Moksha desktop
 CPU monitor for the Moksha desktop.
 .
 One can place a gadget of the shelf or desktop to monitor CPU usage.
