Package: bodhi-settings
Version: 0.0.1-4
Architecture: all
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Section: admin
Priority: optional
Depends: ubuntu-system-adjustments, bodhilinux-keyring, resolvconf
Recommends: bodhi-skel, bodhi-slick-theme
Description: Supplies Bodhi custom settings
 Adds bodhi repo and more.
