Source: moksha-module-engage
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), libc6 (>= 2.4), meson, pkg-config, libtool, intltool, libefl-dev, moksha-dev
Standards-Version: 4.5.0
Homepage: https://github.com/JeffHoogland/moksha-modules-extra
Rules-Requires-Root: no

Package: moksha-module-engage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, moksha
Description: Engage Moksha Module
 OSX style application launcher for the Moksha desktop
 .
 Engage will hold all of your open applications for fast switching and
 is also an apllication launcher.
