Source: moksha-module-stickynotes
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), libc6 (>= 2.4), meson, pkg-config, libtool, intltool, libefl-dev, moksha-dev
Standards-Version: 4.5.0
Homepage: https://github.com/thewaiter/StickyNotes
Rules-Requires-Root: no

Package: moksha-module-stickynotes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, moksha
Description: Sticky Notes Moksha Module
 Sticky Notes module for the Moksha Desktop.
 .
 This module allows you to display sticky notes on your desktop, featuring 
 markdown support and integration with `ncal` and other command-line tools.
   
