Source: moksha-module-mem
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), libc6 (>= 2.4), meson, pkg-config, libtool, intltool, libefl-dev, moksha-dev
Standards-Version: 4.5.0
Homepage: https://git.moksha.org/moksha/modules/mem.git/
Rules-Requires-Root: no

Package: moksha-module-mem
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, moksha
Description: Memory module for the Moksha desktop
 Memory monitor for the Moksha desktop.
 .
 Add a gadget to a shelf or desktop to monitor memory utilization.
