Source: moksha-module-diskio
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), libc6 (>= 2.4), meson, pkg-config, libtool, intltool, libefl-dev, moksha-dev
Standards-Version: 4.5.0
Homepage: https://github.com/JeffHoogland/moksha-modules-extra
Rules-Requires-Root: no

Package: moksha-module-diskio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, moksha
Description: Disk io module for the Moksha desktop
 Disk monitoring module for the Moksha desktop.
 .
 A Moksha port of the old e17 Module.
