Source: ecrire
Section: editors
Priority: optional
Maintainer: Robert Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>=9), cmake, libefl-dev (>=1.16.0)
Standards-Version: 3.9.6
Homepage: https://git.enlightenment.org/apps/ecrire.git/

Package: ecrire
Architecture: any
Depends: ${misc:Depends}, libc6 (>=0.21), libefl (>=1.16.0)
Description: EFL Text Editor
 A simple EFL based GUI for editing text files.

Package: ecrire-dbg
Architecture: any
Depends: ecrire (=${binary:Version})
Description: EFL Text Editor
 A simple EFL based GUI for editing text files.
 . 
 Debug symbols for ecrire.
 
