Package: bodhi-sankhara 
Version: 0.0.1-4
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Depends: bash (>=4.3.10), libglib2.0-bin
Architecture: all
Homepage: https://www.bodhilinux.com/
Description: Bodhi patches for ubuntu
 Patch various system files to Bodhize a system
