[Desktop Entry]
Name=Help
Name[ar]=مساعدة
Name[bg]=Помогне
Name[ca]=Ajudar
Name[cs]=Pomoc
Name[da]=Hjælp
Name[de]=Hilfe
Name[el]=Περισσότερη Βοήθεια
Name[eo]=Helpo
Name[es]=Ayuda
Name[et]=abi
Name[fa]=کمک
Name[fi]=auta
Name[fr]=Aide
Name[gl]=Máis axuda
Name[he]=עֶזרָה
Name[hr]=Pomoć
Name[hu]=Segítség
Name[it]=Aiuto
Name[ja]=助けて
Name[km]=ជួយ
Name[ko]=도움
Name[ku]=Alîkarî
Name[lt]=Daugiau pagalbos
Name[nb]=Hjelp
Name[pl]=Wsparcie
Name[pt]=Ajuda
Name[pt_BR]=Socorro
Name[ro]=Ajutor
Name[ru]=Помощь
Name[sk]=Pomoc
Name[sl]=Pomoč
Name[sr]=Још помоћи
Name[sv]=Hjälpa
Name[tr]=Daha Fazla Yardım
Name[uk]=допомога
Name[zh_CN]=更多帮助
Name[zh_TW]=幫幫我
Comment=Get help for Bodhi
Comment[ar]=احصل على المساعدة من أجل Bodhi
Comment[bg]=Вземете помощ за Bodhi
Comment[ca]=Obtenha ajuda para Bodhi
Comment[cs]=Uzyskaj pomoc dla Bodhi
Comment[da]=Få hjælp til Bodhi
Comment[de]=Holen Sie sich Hilfe für Bodhi
Comment[el]=Λάβετε βοήθεια για το Bodhi
Comment[eo]=Akiru Helpon por Bodhi
Comment[es]=Obtén ayuda para Bodhi
Comment[et]=Hankige abi Bodhi kohta
Comment[fa]=برای Bodhi کمک بگیرید
Comment[fi]=Získejte pomoc pro Bodhi
Comment[fr]=Obtenez de l'aide pour Bodhi
Comment[gl]=Obter axuda para Bodhi
Comment[he]=קבל עזרה לבודהי
Comment[hr]=Potražite pomoć za Bodhi
Comment[hu]=Kérjen segítséget Bodhi
Comment[it]=Ottieni aiuto per Bodhi
Comment[ja]=菩提の助けを得る
Comment[km]=ទទួលជំនួយសម្រាប់បូឌី
Comment[ko]=Bodhi에 대한 도움 받기
Comment[ku]=Ji bo Bodhi Alîkarî bistînin
Comment[lt]=Gaukite pagalbos apie Bodhi
Comment[nb]=Få hjelp til Bodhi
Comment[pl]=Uzyskaj pomoc dla Bodhi
Comment[pt]=Obtenha ajuda para o Bodhi
Comment[pt_BR]=Obtenha ajuda para Bodhi
Comment[ro]=Obțineți ajutor pentru Bodhi
Comment[ru]=Получите помощь для Бодхи
Comment[sk]=Získajte pomoc pre Bodhi
Comment[sl]=Poiščite pomoč za Bodhi
Comment[sr]=Потражите помоћ за Бодхија
Comment[sv]=Få hjälp för Bodhi
Comment[tr]=Bodhi için Yardım Alın
Comment[uk]=Отримати допомогу для Бодхі
Comment[zh_CN]=获取菩提的帮助
Comment[zh_TW]=獲取菩提的幫助
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=documentation;information;manual;help;
Exec=/usr/bin/bodhi-help
Icon=system-help
StartupNotify=true
Terminal=false
Type=Application
Categories=System;
