Package: apturl-saf
Version: 0.0.1-4
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Depends: bash (>=4.3.10), grep (>= 3.7), coreutils (>= 8.32-4.1), zenity, polkitd, pkexec, synaptic
Recommends: policykit-1-gnome | polkit-kde-agent-1
Suggests: policykit-desktop-privileges
Conflicts: apturl, apturl-common
Replaces: apturl, apturl-common
Provides: apturl, apturl-common
Architecture: all
Homepage: https://www.bodhilinux.com/
Description: Simple apturl script
 A simple bash script to provide apturl using zenity and synaptic.
 .
 Not as full featured or as secure as Ubuntu's official version.
 Use at your own risk.
