Source: moksha-module-calendar
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10), libc6 (>= 2.4), pkg-config, meson, libtool, intltool, libefl-dev, moksha-dev
Standards-Version: 4.5.0
Homepage: https://github.com/JeffHoogland/moksha-modules-extra
Rules-Requires-Root: no

Package: moksha-module-calendar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, moksha
Description: Calendar module for the Moksha desktop
 Displays the current date on your Moksha desktop.
 .
 A moksha port of the old e17 module.
