[Desktop Entry]
Name=Bodhi AppCenter
Type=Application
Name[be]=Цэнтр праграм Bodhi
Name[ca]=Centre d'Aplicacions de Bodhi
Name[cs]=Bodhi AppCentrum
Name[cy]=Bodhi Canolfan App
Name[de]=Bodhi AppCenter
Name[es]=Bodhi AppCenter
Name[fr]=Bodhi AppCenter
Name[it]=Bodhi AppCenter
Name[lt]=Bodhi programų centras
Name[nl]=Bodhi applicatiebeheer
Name[nl_BE]=Bodhi applicatiebeheer
Name[pl]=Bodhi AppCenter
Name[pt]=Bodhi AppCenter
Name[pt-BR]=Bodhi AppCenter
Name[ru]=Центр приложений Bodhi
Name[sk]=Bodhi AppCenter
GenericName=Install Software
GenericName[be]=Усталяванне праграм
GenericName[ca]=Instal·lar programari
GenericName[cs]=Instalace Softwaru
GenericName[cy]=Gosod meddalwedd
GenericName[de]=Software installieren
GenericName[es]=Instalar Software
GenericName[fr]=Installer des logiciels
GenericName[it]=Installa programmi
GenericName[lt]=Programų diegimas
GenericName[nl]=Programmatuur installeren
GenericName[nl_BE]=Programmatuur installeren
GenericName[pl]=Instaluje programy
GenericName[pt]=Instalar Software
GenericName[pt-BR]=Instalar software
GenericName[ru]=Установка программ
GenericName[sk]=Inštalácia Softvéru
Comment=Online Software Center
Comment[be]=Каталог праграм у сетцы
Comment[ca]=Centre de programari en línia
Comment[cs]=Centrum Softwaru Online
Comment[cy]=Canolfan feddalwedd ar-lein
Comment[de]=Online Software Center
Comment[es]=Repositorio de Software en Línea
Comment[fr]=Centre logiciel en ligne
Comment[it]=Centro software online
Comment[lt]=Internetinis programų centras
Comment[nl]=Programmatuurbeheer via internet
Comment[nl_BE]=Programmatuurbeheer via internet
Comment[pl]=Centrum aplikacji online
Comment[pt]=Centro de Software Online
Comment[pt-BR]=Central de software online
Comment[ru]=Интернет-репозиторий программного обеспечения
Comment[sk]=Online Centrum Aplikácií
Keywords=Preferences;Install;Program;Software;App;Store;
Exec=x-www-browser http://appcenter.bodhilinux.com
Icon=system-software-install
Terminal=false
Categories=PackageManager;System;
