Package: neofetch
Version: 2022-1
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 351
Recommends: chafa, caca-utils, imagemagick, jp2a, libsixel-bin, w3m-img, pciutils
Section: utils
Priority: optional
Homepage: https://github.com/dylanaraps/neofetch
Description: Shows Linux System Information with Distribution Logo
 Neofetch is a cross-platform and easy-to-use system information
 command line script that collects your Linux system information
 and display it on the terminal next to an image, it could be your
 distributions logo or any ascii art of your choice.
 .
 This is Bodhi's patched version
