[Unit]
Description=Debian system adjustments

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/share/debian-system-adjustments/systemd/start
ExecStop=/usr/share/debian-system-adjustments/systemd/stop

[Install]
WantedBy=multi-user.target