Source: moksha-module-productivity
Section: utils
Priority: optional
Maintainer: Robert (ylee) Wiley <ylee@bodhilinux.com>
Build-Depends: debhelper (>= 10),libc6 (>= 2.4), meson, pkg-config, libtool, intltool, libefl-dev, libxext-dev, moksha-dev
Standards-Version: 4.5.0
Homepage: https://github.com/rbtylee/emodule-productivity
Rules-Requires-Root: no

Package: moksha-module-productivity
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mpg123, libxext6, moksha
Description: Productivity Module for Moksha
 This Moksha module helps you to fight against working distractions.
 it consist in a similar technique to pomodoro with breaktimes but
 more powerful: it gives or denys you access to the distracting windows.
